choice
	prompt "choice spinand or rawnand"
	depends on (AW_NAND)

	config AW_RAWNAND
		bool "sunxi raw nand driver"

	config	AW_SPINAND
		bool "sunxi spi nand driver"

endchoice

config AW_RAWNAND_CD
	bool "sunxi rawnand exteral module detect unclean poweroff"
	depends on SUNXI_RAWNAND
	help
	exteral module detect unclean poweroff(e.g. powerdown),then it send a
	signal to gpio,gpio generate signal to stop ndfc work.
	this should be support by hardware circuit.

	if you enable it, and you should configure property cd-debounce-delay-ms and
	pwroff-gpios in dts

	  WARNING: the gpio can't be used by other
