
config MTK_TL5601C
	bool "tl5601c for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor tl5601c.
