# SPDX-License-Identifier: GPL-2.0-only

menu "RTC Drivers"
	depends on AW_BSP

config AW_RTC
	tristate "RTC Support for Allwinner SoCs"
	depends on AW_BSP
	select RTC_CLASS
	help
	  If you say Y here, you will get support for the RTC found on
	  Allwinner SoCs.

config AW_RTC_REBOOT_FLAG
	depends on AW_RTC
	bool "Enable RTC General Registers for Reboot Flag"
	help
	  Allow reboot app in userspace (such as Android reboot) to save
	  a flag in the RTC General Purpose Register. The flag could be read
	  by u-boot, kernel or user app after rebooting.

config AW_RTC_POWEROFF_ALARM
	depends on AW_RTC
	bool "Enable RTC Alarm in Power-Off State"
	help
	  Support RTC alarm when the system is Powered-Off.

endmenu

