# wangjun@wind-mobi.com 20170725 begin
config MTK_PA22A
	bool "pa22a for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor PA22A.
# wangjun@wind-mobi.com 20170725 end
